{% extends 'base.html' %}
{% block content %}
<div class='container-fluid'>
	<h2> Change Password</h2>
  <form method ='post'>
    {% csrf_token %}
    <!-- {{form.as_p}} -->
    <div class="form-group" style="max-width: 500px;">

      <label class="control-label" for="old_password">Old Password:</label>
      <input type="password" class="form-control" id="form-control" name="old_password">
      <br>

      <label class="control-label" for="new_password1">New Password:</label>
      <input type="password" class="form-control" id="form-control" name="new_password1">
      <br>

      <label class="control-label" for="new_password2">New Password <span style="color: gray;">(confirm)</span>:</label>
      <input type="password" class="form-control" id="form-control" name="new_password2">
      <br>
      <button class='btn btn-primary' type='submit'>Save</button>
    </div>
  </form>
</div>
{% endblock %}
