{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-4">
    	<h1>Login</h1>
    	<form method='post'>
    		{% csrf_token %}
        <div class="form-group" style="max-width: 500px;">

          <label class="control-label" for="username">username:</label>
          <input type="text" class="form-control" id="form-control" name="username">
          <br>

          <label class="control-label" for="password">password:</label>
          <input type="password" class="form-control" id="form-control" name="password">
          <br>

          <button class='btn btn-primary' type='submit'>Login</button>
        </div>
    	</form>
    	<br>
    	<p><a href='/account/reset-password/'>Forgot password?</a></p>
    </div>
  </div>
</div>
{% endblock %}